h1{
    color: rgb(235, 235, 241);
    text-align: center;
    font-weight: bold;
}


header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#252932;
	margin-bottom:20px;
}
    
.menu a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
.menu li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
.menu li:hover{
    background-color:#fff;
    color:#000;
    }
footer {
        text-align: center;
        color: cornsilk;
        width:100%; /* Establecemos que el header abarque el 100% del documento */
        overflow:hidden; /* Eliminamos errores de float */
        background:#252932;
        margin-bottom:20px;
    }